[Service]
ExecStart=/usr/local/bin/xremap --watch=config,device /usr/local/etc/xremap/config.yml
Restart=always

[Install]
WantedBy=multi-user.target

